html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0; 
  color: white;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

input, textarea, select, button {
  font-size: 15px;
  color: #fff;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


.wrapper {
  display: block;
}


.wrapper .image-holder {
  width: 100%;
  padding-bottom: 50px;
  height: 70vh;
}

.wrapper .form-content {
  width: 100%;
  padding-left: 4.3%;
  padding-right: 4.3%;
}

.image-holder {
  background: url("./images/form-wizard.jpg") center center;
  background-size: cover;
}

.form-content {
  background: url("./images/form-wizard-bg.jpg") center center;
  background-size: cover;
}

.readable-content{
  min-height: 200px;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.cta-wrapper {
  margin: auto;
  width: 300px;
  text-align: center
}

.cta {
  font-size: 27px !important;
}

.info {
  margin-bottom: 50px;
}

#existing-wallet input {
  border-radius: 5px;
  border: 0px;
  padding: 15px;
  width: 100%;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.separator-info {
  border-top: 1px solid rgba(255,255,255,0.5);
  width: 300px;
  margin: auto;
}

h1.title {
  padding-top: 95px;
  font-size: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  text-shadow: #a1a0a0 1px 1px 1px;
  font-size: 7em;
  padding-top: .5em;
}

h2.subtitle {
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow: #a1a0a0 1px 1px 1px;
  font-size: 3.5em;
  margin-top: 10em;
  margin-bottom: 1em;
}


h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 58px;
  font-weight: 500;
}

.intro-link{
  font-weight: bold;
  color: white;
}

.features {
  margin-bottom: 100px;
}

.selected-tab {
  background: transparent;
}

.react-tabs{
  padding-top: 60px;
  padding-bottom: 70px;
}

.react-tabs__tab {
  padding: 0px;
  border: 0px;
}

.react-tabs__tab-list {
  border: 0px;
  text-align: center;
}

.step-arrow {
  display: block;
  text-align: center;
  margin:auto;
  margin-top: 5px;
}

.step-arrow.step-2 {
  margin-left: 68px;
}

.step-arrow.step-3 {
  margin-left: 69px;
}

.form-content section {
  margin-top: 30px;
  min-height: 350px;
}

#new-wallet-address {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
}

#new-wallet {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

#new-wallet button {
  background-color: transparent;
  border: 0px;
  color: white;
  cursor: pointer;
}

.section-footer {
  margin-top: 50px;
  display: flex;
  flex: 1;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}

.section-footer.center{
  align-content: center;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(255,255,255,0.1);
  transform: translateY(-1px);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.08) 0px 3px 6px 0px, rgba(0, 0, 0, 0.06) 0px 0px 1px 0px inset;
}

.button, .idCQSl {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  align-self: flex-end;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  will-change: transform;
  transition: all 0.15s ease-in-out 0s;
  outline: none;
  overflow: hidden;

}

.info-item {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-item p{
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.button.selected{
  color: #42d2ff;
  border-color: #42d2ff;
}
.info-item.amount .buttons{
  margin-top: 30px;
  flex-direction: row;
}

.info-item.amount .buttons button{
  padding: 10px 15px;
  min-width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-item.amount .buttons button:last-child {
  margin-right: 0px;
}

section label {
  font-size: 20px;
}

.connected-account {
  flex: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 17px;

}

#address {
  z-index: 999999;
  margin-top: 5px;
  margin-right: 10px;
  padding: 15px 0px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 23px;
  flex: 0;
  display: flex;
  justify-content: center;
}

#address span{
  background-color: #1aab9b;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  flex: 0;
  display: flex;
  min-width: 5px;
  margin-top: 7px;
}

#address span.chainId-42 {
  background-color: #7c4dff;
}

.react-tabs {
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.progress-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.in-progress {
  text-align: center;
}

.in-progress p{
  margin-bottom: 10px;
}


.mix-info {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 60px;
}

.mix-info li {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}

.info-value{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin-left: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.in-progress .section-footer{
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-dialog {
  padding: 15px 60px;
  padding-bottom: 30px;
  text-align: center;
}

.modal-dialog h2{
  margin-bottom: 50px;
}

.wordwrap { 
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


.info-value {
  display: flex;
  flex: 1;
  align-self: flex-end;
  text-align: right;
  justify-content: flex-end;
}
span.info-label {
  display: flex;
  flex: 1;
  align-self: flex-start;
}

a.info-value {
  color: #3FC7FA;
}
a.info-value:visited {
  color: #3FC7FA;
}

li.note {
  overflow-wrap: break-word;
  width: 100%;
  padding-right: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  display: contents;
}

.info-pkey {
  color: #3FC7FA;
  background-color: transparent;
  border: 0px solid;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 18px;
}

.intro {
  padding-top: 40px;
  padding-bottom: 30px;
}
.intro h3 {
  padding-top: 50px;
  margin-bottom: 35px;
}

.intro p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  letter-spacing: .025em;
  font-style: italic;
}

.intro .signature {
  font-style: normal;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.intro .solution {
  margin-top: 30px;
  margin-bottom: 20px;

  font-style: normal;
  font-size: 22px;
  text-align: center;
}

.intro .solution a, .intro .solution a:visited{
  color: white;
  text-decoration: underline;
}
.footer {
  padding-top: 100px;
  position: relative;
  margin-top: 30px;
}
.warning-wrapper {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 10px;
  bottom: 30px;
}

.warning-wrapper .warning-text a{
  color: white;
  text-decoration: underline;
}

.warning-wrapper .warning-text{
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 30px;
  font-size: 12px;
  width: 300px;
  height: 60px;
  display: block;
  margin: auto;
  line-height: 1.6;
}

#disconnect {
  background: transparent;
  color: white;
  font-size: 14px;
  text-align: right;
  border: none;
  cursor: pointer;
}


.links {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 16px;
  z-index: 1;
}

.links a {
  margin-right: 5px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
}


.terms-link {
  background: transparent;
  color: white;
  border: none;
  font-size: 12px;
  line-height: 1.6;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
}

.withdrawal-tab {
  text-transform: uppercase;
  font-size: 20px;
  color: #42d2ff;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 0px;
  margin-right: 20px;
  text-align: center;
}

.withdrawal-modal ul{
  margin-bottom: 20px !important;
}

.withdrawal-modal {
  max-width: 300px;
}

.selected-option-withdrawal .withdrawal-tab {
  border-bottom: 2px solid #42d2ff;
}

.modal-dialog.witdrawal-modal p{
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-dialog.witdrawal-modal{
  width: 450px;
}

.withdrawal-confirm {
  margin-top: 30px;
  background-color: #42d2ff;
  color: white;
}

.withdrawal-confirm:hover {
  background-color: #42d2ff;
  color: white;
}

.loading-wrapper {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mixing {
  text-align: center;
}

.fee {
  margin-top: 20px;
  text-align: center;
}

.withdraw-now{
  margin-left: -6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.withdraw-now-p {
  margin-bottom: 30px !important;
}

.start-again {
  margin-bottom: 60px;
}

.select-wrapper {
  margin: auto;
  max-width: 500px;
}

button.button.button-big {
  font-size: 30px;
  padding: 10px 30px !important;
}

.steps {
  padding-top: 30px;
}

.unit{
    font-style: normal;
    font-size: 22px;
    text-align: center;
}

.fee {
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.steps section {
  max-width: 720px;
  margin: auto;
}

.receive-options-wrapper {
  max-width: 365px;
  margin: auto;
}

.steps section:first-child {
  min-height: 280px;
}

.steps section:nth-child(3) {
  margin-bottom: 70px;
  min-height: 150px;
}

.real-button-container{
  margin: auto;
  max-width: 320px;
  text-align: center;
}

.real-button-container .real-button{
  width: 100%;
}


/****  RESPONSIVE ****/


@media (min-height: 700px) and (max-height: 800px) {
  h1.subtitle {
    font-size: 7em;
  }

  h2.subtitle {
    font-size: 2.5em;
    margin-top: 5em;
    margin-bottom: 1em;
  }
}

@media (min-height: 801px) and (max-height: 900px) {
  h1.subtitle {
    font-size: 6em;
  }

  h2.subtitle {
    font-size: 3em;
    margin-top: 6em;
    margin-bottom: 1em;
  }
}


@media (min-height: 901px) and (max-height: 950px) {
  h1.subtitle {
    font-size: 4.5em;
  }

  h2.subtitle {
    font-size: 3em;
    margin-top: 6em;
    margin-bottom: 1em;
  }
}

@media (min-height: 951px) and (max-height: 100px) {
  h1.subtitle {
    font-size: 5em;
  }

  h2.subtitle {
    font-size: 3em;
    margin-top: 7em;
    margin-bottom: 1em;
  }
}




@media (min-height: 1001px) and (max-height: 1100px) {
  h1.subtitle {
    font-size: 6em;
  }

  h2.subtitle {
    font-size: 3em;
    margin-top: 8em;
    margin-bottom: 1em;
  }
}

@media (min-height: 1101px) and (max-height: 1200px) {
  h1.subtitle {
    font-size: 6em;
  }

  h2.subtitle {
    font-size: 3em;
    margin-top: 10em;
    margin-bottom: 1em;
  }
}

@media (min-height: 1200px) and (max-height: 1264px) {
  
  h2.subtitle {
    font-size: 3em;
    margin-top: 11em;
    margin-bottom: 1em;
  }
}


@media (min-height: 1265px) and (max-height: 1300px) {
  
  h2.subtitle {
    font-size: 3em;
    margin-top: 12em;
    margin-bottom: 1em;
  }
}

@media (min-height: 1301px)  {
  
  h2.subtitle {
    font-size: 3em;
    margin-top: 12em;
    margin-bottom: 1em;
  }
}


@media (max-width: 767px) {

  h1.title {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .image-holdfer {
    background: url("./images/form-wizard.jpg") center center;
    background-size: cover;
    min-height: 350px;
    
  }
  
  .wrapper {
    display: block;
    height: auto;
  }
  
  .wrapper .image-holder {
    height: auto;
    width: 100%;
  }
  
  .wrapper .form-content {
    height: auto;
    padding: 35px 20px;
    width: 100%;
  }

  section label {
    font-size: 18px;
  }

  .connected-account {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .info-item.amount .buttons button:last-child {
    min-width: 90px;
  }

  .links {
      margin-top: 80px;
      left: initial;
      text-align: center;
      position: relative;
  }

  .warning-wrapper{
    position: relative;
    margin-bottom: 0px;
    bottom: initial;
    width: 100%;
  }

  .intro {
    margin-top: 15px;
  }

  .intro h3 {
    margin-bottom: 15px;
  }

  .intro p{
    font-size: 16px;
  }


  .connected-account {
    margin-bottom: 50px;
  }

  .action-modal {
    max-width: 280px;
    padding: 30px;
  }

  .action-modal h3{
    font-size: 18px;
  }


  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
  

}